In [4]:
import pandas as pd
from typing import List

## Turning list into a pandas dataframe

In [11]:
# My solution
def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
    id = []
    age = []
    for i in student_data:
        id.append(i[0])
        age.append(i[1])
    df = pd.DataFrame()
    df['student_id'] = id
    df['age'] = age
    
    return df


# Better solution here:
def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
    column_names = ["student_id", "age"]
    result_dataframe = pd.DataFrame(student_data, columns=column_names)
    return result_dataframe

In [12]:
testList = [
  [1, 15],
  [2, 11],
  [3, 11],
  [4, 20]
]
createDataframe(testList)

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

## Get the size of a dataframe

In [ ]:
# My solution
def getDataframeSize(players: pd.DataFrame) -> List[int]:
    return [players.shape[0], players.shape[1]]

## Display the first three rows

In [ ]:
def selectFirstRows(employees: pd.DataFrame) -> pd.DataFrame:
    return(employees.head(3))

## Select Data

In [13]:
def selectData(students: pd.DataFrame) -> pd.DataFrame:
    df = students[students['student_id'] == 101]
    return df[['name','age']]

## Create new column

In [ ]:
def createBonusColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees['bonus'] = employees['salary']*2
    return employees

## Drop duplicate rows

In [ ]:
def dropDuplicateEmails(customers: pd.DataFrame) -> pd.DataFrame:
    df = customers.drop_duplicates('email')
    return df

## Drop missing data

In [15]:
def dropMissingData(students: pd.DataFrame) -> pd.DataFrame:
    return students.dropna(subset=['name'])

## Modify columns

In [16]:
def modifySalaryColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees['salary'] = employees['salary'] * 2
    return employees

## Rename columns

In [20]:
def renameColumns(students: pd.DataFrame) -> pd.DataFrame:
    students = students.rename(columns = {"id":"student_id","first":"first_name",
                     "last":"last_name","age":"age_in_years"})
    return students

## Change data type

In [21]:
def changeDatatype(students: pd.DataFrame) -> pd.DataFrame:
    students['grade'] = students['grade'].astype(int)
    return students

## Fill missing data

In [24]:
def fillMissingValues(products: pd.DataFrame) -> pd.DataFrame:
    products['quantity'].fillna(0,inplace=True)
    return products

## Reshape data: concatenate

In [25]:
def concatenateTables(df1: pd.DataFrame, df2: pd.DataFrame) -> pd.DataFrame:
    return pd.concat([df1,df2], ignore_index=True)

## Pivot table

In [26]:
def pivotTable(weather: pd.DataFrame) -> pd.DataFrame:
    df = weather.pivot(index = 'month', columns = 'city',values = 'temperature')
    return df

## Melt table

In [ ]:
def meltTable(report: pd.DataFrame) -> pd.DataFrame:
    return report.melt(id_vars = ["product"], var_name ="quarter", value_name = "sales")

## Sort

In [27]:
def findHeavyAnimals(animals: pd.DataFrame) -> pd.DataFrame:
    df = animals[animals['weight'] > 100]
    df = df.sort_values(by = 'weight', ascending = False)
    return df[['name']]